input {
  display: block;
  margin: 3px 0;
}

.input-email {
  font-size: 12px;
  padding: 3px 50px 3px 3px;
}

.email-medium {
  font-size: 14px;
  padding: 5px 35px 5px 3px;
}

.email-large {
  font-size: 14px;
  padding: 10px 35px 10px 3px;
}

.input-select {
  -webkit-appearance: none;
  padding: 7px 90px 7px 5px;
  color: black;
  background-image: url("arrowdown2.0.png");
  background-repeat: no-repeat;
  background-position: right;
  /* background-size: 5%; */
  background-position-x: 90%;
}
.input-select-med {
  -webkit-appearance: none;
  padding: 9px 150px 9px 5px;
  color: black;
  background-image: url("arrowdown2.0.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 90%;
}
.input-select-large {
  -webkit-appearance: none;
  padding: 12px 150px 12px 5px;
  color: black;
  background-image: url("arrowdown2.0.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 90%;
}
.selectFade {
}
